



.logo{
    color: #ff0000;
}

.logo span{
    color: #fff;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}


.menu-button{
    display: none;
}



.header-buttom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-buttom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-buttom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-buttom-side-left P{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-buttom-side-left button{
    background-color: #ff0000;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-buttom-side-left button:hover{
    background-color: #ff0404;
}

.header-buttom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-buttom-side-right img{
    width: 115%;
}



/* header */

/* Main content */
main{
    background-color: #ebebeb;
}


.gray-background{
    background-color: #2c2c2c;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
}

.cols-4 img{
    max-width: 100%;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.culs>*div{
    cursor: pointer;
    transition: all 0.2;
}

.cols>*:hover{
    transform: translateY(-5px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    color: #ff0101;
    font-size: 1.3rem;
}

.product-price span{
    font-weight: 600;
}

.exclusive-container{
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 500px;
}

/* media queries */

@media (max-width: 800px){
    .section-title{
        font-size: 1rem;
    }

    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }

    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-name, .product-price, .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }
    
    .exclusive-container{
        flex-direction: column-reverse;
    }

    .exclusive-container img{
        margin-bottom: 4rem;
    }

}

/* main content */

/* Testimonials */
.testimonials{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.testimonial:hover{
    transform: translateY(-5px);
}

.testimonial p{
    margin: 5px 0;
}

.testimonial p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #ff1100;
    margin-top: 3rem;
    line-height: 2rem;
}

.testimonial p:last-child{
    font-weight: bold;
}

/* media queries */
@media (max-width: 800px){
    .testimonials{
        flex-direction: column;
    }

    .testimonial{
        margin-bottom: 1.2rem;
    }
}
/* Testimonials */

/* footer */
.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;
}

.download-options>*{
    margin: 1rem 0;
}

.download-options>:first-child{
   font-weight: bold;
   color: #fff;
}

.download-options>div{
    display: flex;
}

.download-options>div img{
    width: 180px;
}

.logo-footer{
    text-align: center;
}

.links-footer h3{
    color: #fff;
    margin-bottom: 0.8;
}

.links-footer ul{
    list-style: none;
}

.links-footerul li{
    margin-bottom: 01.5rem;
    cursor: pointer;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

/* Media queries */
